@model EHiHiBook.Models.Book

@{
    ViewBag.Title = "BookDetail";
    Layout = "~/Views/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/Home/Index">Home</a>
        </li>
        <li class="breadcrumb-item active"><a href="/Book/BookDetail">Book Detail</a></li>

    </ol>
</div>

<div class="container">
    <div>
        <dl class="dl-horizontal">
            <div class="col-md-6">
                <dt>
                    @Html.DisplayNameFor(model => model.BookName)
                </dt>
            </div>



            <dd>
                @Html.DisplayFor(model => model.BookName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Author)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Author)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Descriptions)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descriptions)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Images)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Images)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SupplierID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SupplierID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PublisherID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PublisherID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CategoryID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsDelete)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsFeatured)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsFeatured)
            </dd>

        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>
</div>
